.cover__subtitle {
  width: 90%;
  margin: 16px auto auto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  white-space: pre-line;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    white-space: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}
