.lang-links__item {
  text-decoration: none;
  font-weight: var(--normal-font-weight);
  color: var(--text-color);
  font-size: 18px;
  line-height: 20px;
}

.lang-links__item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .lang-links__item {
    font-size: 24px;
    line-height: 28px;
  }
}
