@import url(../../fonts/Inter_Web/inter.css);

.root {
  font-family: 'Inter', Arial, sans-serif;
  --normal-font-weight: 400;
  --bold-font-weight: 900;
  background-color: #2a2c2f;
  color: #fff;
}
