.cover {
  background-image: url(../../background-images/cover-320.jpg);
  background-size: cover;
  height: 62.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 66px;
}
