.lead__figure {
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  .lead__figure {
    max-width: 768px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__figure {
    max-width: var(--max-width-inside-1024);
  }
}

@media screen and (min-width: 1280px) {
  .lead__figure {
    max-width: var(--max-width-inside-1280);
    margin-top: 64px;
  }
}
