.footer {
  margin: 64px auto 24px;
  max-width: 90%;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: var(--max-width-inside-768);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 92px;
    max-width: var(--max-width-inside-1024);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: var(--max-width-gallery-inside-1280);
  }
}
