.place__website {
  font-weight: var(--normal-font-weight);
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  display: block;
  margin: 12px 0 0;
  max-width: max-content;
}
